/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.tots-cell-item-green {
    background-color: green !important;
}
.tots-cell-selected {
    background-color: red !important;
}

.tots-balance-column-positive {
    color: green !important;
}

.tots-balance-column-negative {
    color: red !important;
}